$_green_bg_color: #b8df54;
$_yellow_bg_color: #fbec3f;
$_white_bg_color: #ffffff;
$_gradient_bg_color: linear-gradient(
  245.63deg,
  rgb(85, 190, 247) -7.899%,
  rgb(251, 236, 63) 89.033%
);
$_black_text_color: #000000;

$_heading_font: 'Ubuntu', sans-serif;
$_text_font: 'Inter', sans-serif;
