<section id="about" class="section">
  <div class="container about">
    <h2 class="about__title">About this game</h2>
    <img
      class="about__img"
      srcset="./img/deck-hero@1x.webp 1x, ./img/deck-hero@2x.webp 2x"
      src="./img/deck-hero@1x.webp"
      alt="game screen"
      width="283"
      height="351"
    />
    <p class="about__text">
      In "Tropic Trouble," players find themselves stranded on a deserted
      island, tasked with building their dream paradise by solving match-3
      puzzles.
    </p>
    <p class="about__text">
      By clearing puzzles, you unlock resources to build and customize your
      island, turning a deserted land into a thriving resort.
    </p>
  </div>
</section>
