<section id="benefits" class="section">
  <div class="container benefits">
    <ul class="benefits__list">
      <li class="item">
        <span class="item__number">4.8</span>
        <p class="item__deck">RATING</p>
      </li>
      <li class="item">
        <span class="item__number">50K+</span>
        <p class="item__deck">Download</p>
      </li>
      <li class="item">
        <span class="item__number">1K+</span>
        <p class="item__deck">Users</p>
      </li>
      <li class="item">
        <span class="item__number">Offline</span>
        <p class="item__deck">Game Mod</p>
      </li>
    </ul>
  </div>
</section>
