<section class="section">
  <div class="container">
    <div class="disclaimer-card">
      <img
        class="disclaimer-card__img"
        srcset="./img/alert@1x.webp 1x, ./img/alert@2x.webp 2x"
        src="./img/alert@1x.webp"
        alt="alert"
        width="120"
        height="120"
      />
      <h2 class="disclaimer-card__title">Disclaimer</h2>
      <p class="disclaimer-card__text">
        TOPBOOKOFRA.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING
        PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL LIFE
        GAMES. GAME ISAVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY
        PLAYING THIS GAME!
      </p>
    </div>
  </div>
</section>
