<footer class="footer-section">
  <div class="container footer">
    <div class="footer__wraper">
      <a href="/">
        <img class="footer__logo" src="./img/icon/logo.svg" alt="logo"
      /></a>
      <p class="footer__copy">All rights reserved topbookofra.com | 2024</p>
    </div>
    <nav>
      <ul class="footer__list">
        <li class="link">
          <a href="./terms.html" class="nav-link">Terms and conditions</a>
        </li>
        <span>/</span>
        <li class="link">
          <a href="./policy.html" class="nav-link">Privacy policy</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
