<section id="gallery" class="section">
  <div class="container">
    <div class="gallery-section">
      <h2 class="gallery-section__title">Gallery</h2>
      <div class="swiper" id="swiper1">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img
              class="gallery-img"
              srcset="
                ./img/gallerySlider/unlock@1x.webp 1x,
                ./img/gallerySlider/unlock@2x.webp 2x
              "
              src="./img/gallerySlider/unlock@1x.webp"
              alt="Tropic Trouble Match 3 Builder"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="gallery-img"
              srcset="
                ./img/gallerySlider/explore@1x.webp 1x,
                ./img/gallerySlider/explore@2x.webp 2x
              "
              src="./img/gallerySlider/explore@1x.webp"
              alt="Tropic Trouble Match 3 Builder"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="gallery-img"
              srcset="
                ./img/gallerySlider/solve@1x.webp 1x,
                ./img/gallerySlider/solve@2x.webp 2x
              "
              src="./img/gallerySlider/solve@1x.webp"
              alt="Tropic Trouble Match 3 Builder"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="gallery-img"
              srcset="
                ./img/gallerySlider/restore@1x.webp 1x,
                ./img/gallerySlider/restore@2x.webp 2x
              "
              src="./img/gallerySlider/restore@1x.webp"
              alt="Tropic Trouble Match 3 Builder"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="gallery-img"
              srcset="
                ./img/gallerySlider/decorate@1x.webp 1x,
                ./img/gallerySlider/decorate@2x.webp 2x
              "
              src="./img/gallerySlider/decorate@1x.webp"
              alt="Tropic Trouble Match 3 Builder"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="gallery-img"
              srcset="
                ./img/gallerySlider/match@1x.webp 1x,
                ./img/gallerySlider/match@2x.webp 2x
              "
              src="./img/gallerySlider/match@1x.webp"
              alt="Tropic Trouble Match 3 Builder"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="gallery-img"
              srcset="
                ./img/gallerySlider/blast@1x.webp 1x,
                ./img/gallerySlider/blast@2x.webp 2x
              "
              src="./img/gallerySlider/blast@1x.webp"
              alt="Tropic Trouble Match 3 Builder"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="gallery-img"
              srcset="
                ./img/gallerySlider/story@1x.webp 1x,
                ./img/gallerySlider/story@2x.webp 2x
              "
              src="./img/gallerySlider/story@1x.webp"
              alt="Tropic Trouble Match 3 Builder"
            />
          </div>
        </div>

        <div class="gallery-button">
          <button type="button" class="swiper-button-prev button-next">
            <img class="arrow" src="../img/icon/arrow-left.svg" alt="arrow left"></img>
          </button>
          <button type="button" class="swiper-button-next button-next">
            <img class="arrow" src="../img/icon/arrow-right.svg" alt="arrow right">
            </img>
          </button>
        </div>
       
      </div>
    </div>
  </div>
</section>
