<section class="section hero-section">
  <div class="container">
    <div class="hero-card">
      <div>
        <h1 class="hero-card__title">Tropic Trouble Match 3 Builder</h1>
        <p class="hero-card__description">
          Dive into Tropic Trouble and craft your perfect island escape! Start
          matching and building today!
        </p>
        <a class="hero-card__button" href=""
          ><img src="./img/icon/google-btn.svg" alt=""
        /></a>
      </div>
      <img
        class="hero-card__img"
        srcset="./img/hero@1x.webp 1x, ./img/hero@2x.webp 2x"
        src="./img/hero@1x.webp"
        alt="Tropic Trouble Match 3 Builder"
        width="283"
        height="351"
      />
    </div>
  </div>
</section>
