<section id="how-to-play" class="section">
  <div class="container how-to-play">
    <h2 class="how-to-play__title">How to play</h2>
    <ul class="how-to-play__list">
      <li>
        <div class="card">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/howToPlay/deck-match-elements@1x.webp 1x,
                ./img/howToPlay/deck-match-elements@2x.webp 2x
              "
              width="347"
              height="317"
            />
            <source
              media="(max-width: 1439px)"
              srcset="
                ./img/howToPlay/mob-match-elements@1x.webp 1x,
                ./img/howToPlay/mob-match-elements@2x.webp 2x
              "
              width="260"
              height="304"
            />
            <img
              class="card__img"
              src="./img/howToPlay/deck-match-elements@1x.webp"
              alt="match elements"
            />
          </picture>
          <h3 class="card__title">Match elements</h3>
          <p class="card__text">
            Line up three or more similar items to clear the board and earn
            resources.
          </p>
        </div>
      </li>
      <li>
        <div class="card">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/howToPlay/deck-match-elements@1x.webp 1x,
                ./img/howToPlay/deck-match-elements@2x.webp 2x
              "
              width="347"
              height="317"
            />
            <source
              media="(max-width: 1439px)"
              srcset="
                ./img/howToPlay/mob-match-elements@1x.webp 1x,
                ./img/howToPlay/mob-match-elements@2x.webp 2x
              "
              width="260"
              height="304"
            />
            <img
              class="card__img"
              src="./img/howToPlay/deck-match-elements@1x.webp"
              alt="match elements"
            />
          </picture>
          <h3 class="card__title">Solve puzzles</h3>
          <p class="card__text">
            Each level presents unique challenges with limited moves. Plan your
            strategies wisely!
          </p>
        </div>
      </li>
      <li>
        <div class="card">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/howToPlay/deck-match-elements@1x.webp 1x,
                ./img/howToPlay/deck-match-elements@2x.webp 2x
              "
              width="347"
              height="317"
            />
            <source
              media="(max-width: 1439px)"
              srcset="
                ./img/howToPlay/mob-match-elements@1x.webp 1x,
                ./img/howToPlay/mob-match-elements@2x.webp 2x
              "
              width="260"
              height="304"
            />
            <img
              class="card__img"
              src="./img/howToPlay/deck-match-elements@1x.webp"
              alt="match elements"
            />
          </picture>
          <h3 class="card__title">Build and decorate</h3>
          <p class="card__text">
            Use resources from puzzles to build structures, beautify your
            island, and unlock new areas.
          </p>
        </div>
      </li>
      <li>
        <div class="card">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/howToPlay/deck-match-elements@1x.webp 1x,
                ./img/howToPlay/deck-match-elements@2x.webp 2x
              "
              width="347"
              height="317"
            />
            <source
              media="(max-width: 1439px)"
              srcset="
                ./img/howToPlay/mob-match-elements@1x.webp 1x,
                ./img/howToPlay/mob-match-elements@2x.webp 2x
              "
              width="260"
              height="304"
            />
            <img
              class="card__img"
              src="./img/howToPlay/deck-match-elements@1x.webp"
              alt="match elements"
            />
          </picture>
          <h3 class="card__title">Complete quests</h3>
          <p class="card__text">
            Engage in various quests and challenges to earn extra rewards and
            boost your progress.
          </p>
        </div>
      </li>
      <li>
        <div class="card">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/howToPlay/deck-match-elements@1x.webp 1x,
                ./img/howToPlay/deck-match-elements@2x.webp 2x
              "
              width="347"
              height="317"
            />
            <source
              media="(max-width: 1439px)"
              srcset="
                ./img/howToPlay/mob-match-elements@1x.webp 1x,
                ./img/howToPlay/mob-match-elements@2x.webp 2x
              "
              width="260"
              height="304"
            />
            <img
              class="card__img"
              src="./img/howToPlay/deck-match-elements@1x.webp"
              alt="match elements"
            />
          </picture>
          <h3 class="card__title">Interact with characters</h3>
          <p class="card__text">
            Engage in various quests and challenge to earn extra rewards, boost
            your progress.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
