<section id="reviews" class="section">
  <div class="container-reviews">
    <div class="reviews-section">
      <h2 class="reviews-section__title">Reviews</h2>
      <div class="swiper swiper-review" id="swiper2">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide review-card">
            <div class="user-info">
              <img
                class="reviews-img"
                srcset="
                  ../img/reviewsAvatar/islanddreamer@1x.webp 1x,
                  ../img/reviewsAvatar/islanddreamer@2x.webp 2x
                "
                src="../img/reviewsAvatar/islanddreamer@1x.webp 1x"
                alt="islanddreamer53"
              />
              <p class="reviews-name">IslandDreamer53</p>
            </div>
            <div class="rating">
              <img src="../img/icon/star-reviews.svg" alt="star review" />
              <img src="../img/icon/star-reviews.svg" alt="star review" />
              <img src="../img/icon/star-reviews.svg" alt="star review" />
              <img src="../img/icon/star-reviews.svg" alt="star review" />
              <img src="../img/icon/star-half.svg" alt="star review" />
            </div>
            <p class="reviews-text">
              Love the vibrant graphics and the building aspect. It’s more than
              just matching!
            </p>
          </div>

          <div class="swiper-slide review-card">
            <div class="user-info">
              <img
                class="reviews-img"
                srcset="
                  ../img/reviewsAvatar/sandyToes42@1x.webp 1x,
                  ../img/reviewsAvatar/sandyToes42@2x.webp 2x
                "
                src="../img/reviewsAvatar/sandyToes42@1x.webp 1x"
                alt="SandyToes42"
              />
              <p class="reviews-name">SandyToes42</p>
            </div>
            <div class="rating">
              <img src="../img/icon/star-reviews.svg" alt="star review" />
              <img src="../img/icon/star-reviews.svg" alt="star review" />
              <img src="../img/icon/star-reviews.svg" alt="star review" />
              <img src="../img/icon/star-reviews.svg" alt="star review" />
              <img src="../img/icon/star-half.svg" alt="star review" />
            </div>
            <p class="reviews-text">
              Addictive gameplay and so fun to see your island grow. Challenges
              are perfectly balanced.
            </p>
          </div>

          <div class="swiper-slide review-card">
            <div class="user-info">
              <img
                class="reviews-img"
                srcset="
                  ../img/reviewsAvatar/builderBob78@1x.webp 1x,
                  ../img/reviewsAvatar/builderBob78@2x.webp 2x
                "
                src="../img/reviewsAvatar/builderBob78@1x.webp 1x"
                alt="BuilderBob78"
              />
              <p class="reviews-name">BuilderBob78</p>
            </div>
            <div class="rating">
              <img src="../img/icon/star-reviews.svg" alt="star review" />
              <img src="../img/icon/star-reviews.svg" alt="star review" />
              <img src="../img/icon/star-reviews.svg" alt="star review" />
              <img src="../img/icon/star-reviews.svg" alt="star review" />
              <img src="../img/icon/star-half.svg" alt="star review" />
            </div>
            <p class="reviews-text">
              Great twist on the match-3 formula. Building my own island is a
              blast!
            </p>
          </div>

          <div class="swiper-slide review-card">
            <div class="user-info">
              <img
                class="reviews-img"
                srcset="
                  ../img/reviewsAvatar/tropicFan99@1x.webp 1x,
                  ../img/reviewsAvatar/tropicFan99@2x.webp 2x
                "
                src="../img/reviewsAvatar/tropicFan99@1x.webp 1x"
                alt="TropicFan99"
              />
              <p class="reviews-name">TropicFan99</p>
            </div>
            <div class="rating">
              <img src="../img/icon/star-reviews.svg" alt="star review" />
              <img src="../img/icon/star-reviews.svg" alt="star review" />
              <img src="../img/icon/star-reviews.svg" alt="star review" />
              <img src="../img/icon/star-reviews.svg" alt="star review" />
              <img src="../img/icon/star-half.svg" alt="star review" />
            </div>
            <p class="reviews-text">
              Engaging puzzles and lots of content to keep you entertained for
              hours. Highly recommend!
            </p>
          </div>
        </div>

        <div class="reviews-button">
          <button type="button" class="swiper-button-prev button-next">
            <img
              class="arrow"
              src="../img/icon/arrow-left.svg"
              alt="arrow left"
            />
          </button>
          <button type="button" class="swiper-button-next button-next">
            <img
              class="arrow"
              src="../img/icon/arrow-right.svg"
              alt="arrow right"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
