.hero-card {
  background-color: $_yellow_bg_color;
  padding: 40px 20px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  @include media(desktop) {
    padding: 93px 32px;
    flex-direction: row;
  }

  &__title {
    color: $_black_text_color;
    font-family: $_heading_font;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -1.28px;
    text-align: center;
    margin-bottom: 20px;
    @include media(desktop) {
      font-size: 80px;
      line-height: 1;
      letter-spacing: 2.56px;
    }
  }

  &__description {
    color: $_black_text_color;
    font-family: $_text_font;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.32px;
    text-align: center;
    margin-bottom: 60px;
    @include media(desktop) {
      font-size: 40px;
      line-height: 1.1;
      letter-spacing: 0.64px;
    }
  }

  &__button {
    display: flex;
    margin: 0 auto;
    width: 270px;
    height: 80px;
  }

  &__img {
    width: 283px;
    height: 351px;
    @include media(desktop) {
      width: 455px;
      height: 565px;
    }
  }
}
