.how-to-play {
  &__title {
    color: $_black_text_color;
    font-family: $_heading_font;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
    @include media(desktop) {
      font-size: 60px;
      line-height: 1.33;
      letter-spacing: -2px;
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    @include media(desktop) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 28px;
    }
  }

  .card {
    padding: 40px calc((100% - 260px) / 2);
    border-radius: 24px;
    max-width: 340px;
    min-height: 634px;
    background: $_gradient_bg_color;
    @include media(desktop) {
      width: 427px;
      height: 614px;
    }

    &__img {
      width: 260px;
      height: auto;
      margin-bottom: 20px;
      @include media(desktop) {
        width: 347px;
        height: 317px;
      }
    }

    &__title {
      color: $_black_text_color;
      font-family: $_heading_font;
      font-size: 40px;
      font-weight: 700;
      line-height: 1.1;
      letter-spacing: -0.64px;
      text-align: center;
      margin-bottom: 12px;
    }

    &__text {
      color: $_black_text_color;
      font-family: $_text_font;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: -0.38px;
      text-align: center;
    }
  }
}
